/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  	font-family: 'Maven Pro', sans-serif;
    font-size: 100%;
  	 background: #FFf;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- header --*/
.header{
	background:url(../images/header-bg.jpg) no-repeat 0px 0px;
	min-height:720px;
	position:relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.top-header{
	padding: 1.8em 0 3em;
}
.logo{
	float:left;
	margin-top:0.2em;
}
ul.top-menu{
	margin:0 2em 0 0;
	padding:0;
	float:left;
}
ul.top-menu li{
	display:inline-block;
}
ul.top-menu li a{
	color:#FFF;
	text-transform:uppercase;
	font-weight:700;
	font-size:1.1em;
	margin:0 1em;
	text-decoration:none; 
}
ul.top-menu li a:hover{
	color:#d90714;
}
.top-nav{
	float:right;
	margin-top:2.2em;
}
.share{
	float:right;
}
.share a span{
	width:24px;
	height:26px;
	display:inline-block;
	background:url(../images/share.png) no-repeat 0px 0px;
}
.share a span:hover{
	background:url(../images/shareh.png) no-repeat 0px 0px;
}
span.menu{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../images/nav-icon.png) no-repeat 0px 0px;
	position: absolute;
	top: 55px;
	right:50px;
	cursor: pointer;
	display:none;
}
/*-- header-info --*/
.header-info-left {
	float:left;
}
.header-info-left ul{
	margin:0;
	padding:0;
}
.header-info-left ul li{
	display:inline-block;
}
.header-info-left ul li:nth-child(1){
	margin-right:1.8em;
}
.header-info-left ul li a{
	font-size:1.1em;
	font-weight:bold;
	padding:0.9em 1.9em;
	text-decoration:none;
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
}
a.d-btn{
	color:#FFF;
	border:2px solid #FFF;
}
a.d-btn:hover{
	background:#d90714;
	border-color:#d90714;
}
a.m-btn{
	background:#d90714;
	border:2px solid #d90714;
	color:#FFF;
}
a.m-btn:hover{
	color:#FFF;
	border-color:#FFF;
	background:none;
}
.header-info-right{
	float:right;
}
.header-info-right span{
	width:599px;
	height:641px;
	display:inline-block;
	background:url(../images/divice-hand.png) no-repeat 0px 0px;
	margin-top:1em;
	display:block;
}
.header-info-left{
	margin-top: 318px;
}
a.mouse span{
	width: 34px;
	height: 45px;
	display: inline-block;
	background: url(../images/mouse-icon.png) no-repeat -6px 0px;
	margin-bottom:0.5em;
}
a.mouse{
	color: #FFF;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 10%;
	position: absolute;
	bottom: 5%;
	left: 43%;
}
a.mouse:hover{
	color:#d90714;
}
/*-- app-look --*/
.app-look{
	background:#FFF;
	position:relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:5em 0;
}
.app-look-head h1{
	color:#d90714;
	font-weight:900;
	font-size:2em;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 3em 0;
	padding:0;
	letter-spacing:0.1em;
}
.app-look-grid-ico{
	float:left;
	width:15%;
}
.app-look-grid-ico span{
	width:45px;
	height:45px;
	display:inline-block;
	background:url(../images/icons.png) no-repeat 0px 0px;
}
.app-look-grid-info{
	float:right;
	width:85%;
}
.app-look-grid-info h3{
	margin:0;
	padding:0;
	color:#140f25;
	font-weight:900;
	font-size:0.9em;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:0.05em;
}
.app-look-grid-info p{
	font-size:0.875em;
	color:#140f25;
	line-height:1.2em;
	margin:1em 0;
}
.app-look-grid-ico span.t-icon1{
	background-position:0px 0px;
}
.app-look-grid-ico span.t-icon2{
	background-position: -54px 0px;
}
.app-look-grid-ico span.t-icon3{
	background-position: -114px 0px;
}
.app-look-grid-ico span.t-icon4{
	background-position: -181px 0px;
}
.app-look-grid-ico span.t-icon5{
	background-position: -241px 0px;
}
.app-look-grid-ico span.t-icon6{
	background-position: -303px 0px;
}
.app-look-grid:nth-child(1),.app-look-grid:nth-child(2),.app-look-grid:nth-child(3){
	margin-bottom:2em;
}
/*-- some members --*/
.members{
	background:#1B3041;
	padding:8em 0;
	position:relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.member-grid-left{
	float: left;
	width: 25%;
	margin-top: 2em;
}
.member-grid-right{
	float:right;
	width:75%;
}
.member-grid-left h2{
	color:#E5A623;
	font-weight:800;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 3.2em;
}
.member-grid-left h2 p{
	font-weight:400;
	margin:0;
}
.member-grid-right-grid span{
	width:64px;
	height:64px;
	display:inline-block;
	background:url(../images/member-icons.png) no-repeat 0px 0px;
}
.member-grid-right-grid h4{
	color:#FFF;
	font-weight:bold;
	font-size:1.7em;
	font-weight:900;
	margin:0.3em 0;
	padding:0;
}
.member-grid-right-grid label{
	width:80%;
	background:#FFF;
	height:1px;
	display:inline-block;
}
.member-grid-right-grid p{
	color:#FFF;
	font-weight:100;
	text-transform:uppercase;
	font-size:1.2em;
	margin:0;
}
.member-grid-right-grid span.m-icon1{
	background-position:0px 0px;
}
.member-grid-right-grid span.m-icon2{
	background-position:-88px 0px;
}
.member-grid-right-grid span.m-icon3{
	background-position:-171px 0px;
}
/*-- testmonials --*/
.testmonials{
	background: url(../images/text-bg.jpg) no-repeat 0px 0px;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:7em 0 8em;
}
.testmonial-head h3{
	color: #d90714;
	font-weight: 900;
	font-size: 2.3em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 1.5em 0;
	padding: 0;
	letter-spacing: 0.1em;
}
.testmonial-grid{
	margin: auto;
}
.people-pic{
	float:center;
	width:100%;
}
.people-pic img{
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	vertical-align:middle;
	background: #111fff;
	padding:3px;

}
.people-info{
	float: center;
	width: 100%;
	margin-top: 1.5em;
}
.people-info h4{
	margin:0;
	padding:0;
	color:#000000;
	font-weight:700;
} 
.people-info span{
	color:#000000;
	font-size:0.875em;
}
.testmonial-grid p{
	color:#626262;
	font-style:italic;
	font-size:0.875em;
}
.people{
	width:100%;
	float:center;
}
span.line{
	width: 70%;
	height: 3px;
	background: #626262;
	display: block;
	position: absolute;
	left: 0;
	top: 160px;
}
/*-- video --*/
.video{
	background: url(../images/video-bg.jpg) no-repeat 0px 0px;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 9em 0;
}
a.play span{
	width: 131px;
	height: 131px;
	display: inline-block;
	background: url(../images/play-icon.png) no-repeat -9px -10px;
}
/*-- news-letter --*/
.news-letter{
	background: #FFF;
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5em 0;
	min-height:480px;
}
.news-letter-left{
	
}
.news-letter-left h3{
	color:#d90714;
	font-weight:900;
	font-size:1.8em;
	margin:0;
	padding:0;
}
.news-letter-left h3 p{
	color:#130e24;
	font-size:0.7em;
	font-weight:600;
}
.news-letter-left form{
	position:relative;	
	margin:1em 0 1.5em;
}
.news-letter-left form input[type="text"],.news-letter-left form input[type="text"]:focus{
	background: #f3f3f3;
	border: none;
	font-size: 1.157em;
	padding: 1em;
	width: 88%;
	position: relative;
	outline: none;
}
.news-letter-left form input[type="submit"]{
	background:url(../images/check-mark.png) no-repeat 50% #d90714;
	border:none;
	outline:none;
	width:64px;
	height:64px;
	display:block;
	position:absolute;
	top:0px;
	right:0;
	cursor:pointer;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.news-letter-left form input[type="submit"]:hover{
	background:url(../images/check-mark.png) no-repeat 50% #140f25;
}
.news-letter-left p{
	color:#626262;
	font-size:0.8em;
	line-height:1.4em;
	margin:0;
}
.box p{
	color:#626262;
	line-height:1.8em;
	font-size:0.875em;
	padding:0.8em 1.9em;
}
.box h3{
	color:#130e24;
	text-decoration:none;
	display:block;
	font-weight:400;
	padding:0.5em 0.8em;
	margin:0;
	padding:0;
	font-size: 1.4em;
}
.box h3 label{
	font-weight:bold;
} 
.box h3 span{
	width:15px;
	height:15px;
	background:url(../images/pluse.png) no-repeat 0px 0px;
	vertical-align:middle;
	display:inline-block;
	margin-right:0.5em;
}
.box-1,.box-2,.box-3{
	margin-bottom:0.5em;
}   
.news-letter-left-inner{
	width:80%;
}
.news-letter-right h2{
	color:#130e24;
	font-weight:900;
	font-size:1.8em;
	text-transform:uppercase;
	margin:0 0 1em 0;
	padding:0;
}
/*-- contact --*/
.contact-left{
	background:#E5A623;
	min-height:720px;
}
.contact-right{
	background:#1B3041;
	min-height:720px;
	position:relative;
}
.contact-left-inner h3{
	color:#1B3041;
	font-weight:900;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 1.5em 0;
}
.contact-left-inner p{
	color:#1B3041;
	margin:1em 0;
}
.contact-left-inner p span{
	width:42px;
	height:42px;
	display:inline-block;
	background:url(../images/find-icons.png) no-repeat 0px 0px;
	vertical-align:middle;
	float:left;
} 
.contact-left-inner p span.c-icon1{
	background-position: 0px -63px;
}
.contact-left-inner p span.c-icon2{
	background-position: 0px -129px;
}
.contact-left-inner p i{
	font-style: normal;
	float: right;
	width: 80%;
}
.contact-left-inner p i a{
	color: #1B3041;
	text-decoration: none;
	margin-top: 0.6em;
	display: block;
}
.contact-left-inner p i a:hover{
	color:#FFF;
}
.contact-left-inner{
	width: 50%;
	float: right;
	margin-right: 10%;
	margin-top: 24%;
}
i.ph{
	margin-top:0.6em;
}
ul.social-icons{
	margin:1.8em 0 0 0;
	padding:0;
}
ul.social-icons li a span{
	width:42px;
	height:42px;
	display:inline-block;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
ul.social-icons li a:hover{
	opacity:0.8;
}
ul.social-icons li a span.facebook{
	background-position:0px 0px;
}
ul.social-icons li a span.twitter{
	background-position: -51px 0px;
}
ul.social-icons li a span.googlepluse{
	background-position: -103px 0px;
}
ul.social-icons li a span.youtube{
	background-position: -156px 0px;
}
ul.social-icons li{
	display:inline-block;
	float:left;
	margin-right:0.3em;
}
.contact-right-inner h3{
	color: #E5A623;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.7em;
	margin: 0 0 1.1em 0;
}
.text-box-left{
	float:left;
	width:66%;
	margin-right:4%;
}
.text-box-right{
	float:left;
	width:30%;
}
.text-box-left input[type="text"],.text-box-right input[type="text"],.textarea-box textarea{
	width:100%;
	padding:0.8em 0.8em 1em 0.8em;
	outline:none;
	background:#f3f3f3;
	color:#777;
	border:none;
	border-top:2px solid #f3f3f3;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.text-box-left input[type="text"]:hover,.text-box-right input[type="text"]:hover,.textarea-box textarea:hover{
	border-color:#d90714;
}
.text-boxs{
	margin-bottom:2em;
}
.textarea-box textarea{
	min-height:250px;
	resize:none;
}
.form-submition input[type="submit"]{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../images/c-icons.png) no-repeat 9px 10px #E5A623;
	border: none;
	outline: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	margin-right:0.5em;
}
.form-submition input[type="submit"]:hover{
	background: url(../images/c-icons.png) no-repeat 9px 10px #1B3041;
}
.form-submition input[type="reset"]{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../images/c-icons.png) no-repeat -46px 10px #E5A623;
	border: none;
	outline: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.form-submition input[type="reset"]:hover{
	background: url(../images/c-icons.png) no-repeat -46px 10px #1B3041;
}
.form-submition{
	margin-top:1em;
	float:right;
}
.contact-right-inner {
	padding: 17% 0 0 10%;
	width: 75%;
}
span.c-arrow{
	width: 36px;
	height: 66px;
	display: inline-block;
	background: url(../images/arrow.png) no-repeat 0px 0px;
	position: absolute;
	top: 18%;
	left: -27px;
}
/*-- footer --*/
.footer{
	padding:1.5em 0 0.5em;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
	margin-top: 0.2em;
}
span.to-top{
	width:49px;
	height:47px;
	display:inline-block;
	background:url(../images/top-icon.png) no-repeat 0px 0px;
}
.copy{
	text-align:center;
	margin-bottom:2em;
}
.copy p{
	color:#000;
	font-size:1em;
	font-weight:500;
}
.copy p a{
	color:#d90714;
}
/*-- responsive-design --*/
@media(max-width:1366px){
	.header {
		min-height: 685px;
	}
	.header-info-right span {
		width: 520px;
		height: 559px;
		background-size: cover;
	}
}
@media(max-width:1280px){
	.header {
		min-height:607px;
	}
	.header-info-right span {
		width: 494px;
		height: 448px;
		background-size: 85%;
	}
	.header-info-left {
		margin-top: 221px;
	}
	.people-info {
		width: 51%;
	}
}
@media(max-width:1024px){
	.header {
		min-height: 435px;
	}
	.header-info-right span {
		width: 315px;
		height: 276px;
		background-size: 82%;
	}
	.header-info-left {
		margin-top:100px;
		margin-left: 4em;
	}
	.header-info-right {
		width: 40%;
	}
	.app-look-grid-info {
		width: 81%;
	}
	.contact-left-inner {
		width: 61%;
	}
	.header-info-left ul li a {
		font-size: 0.875em;
	}
	.app-look {
		padding: 3em 0;
	}
	.app-look-head h1 {
		margin: 0 0 2em 0;
	}
	.members{
		padding:5em 0;
	}
	span.line {
		top:160px;
	}
	.contact-right, .contact-left{
		min-height: 650px;
	}
	ul.top-menu li a {
		margin: 0 0.5em;	
	}
}
@media(max-width:800px){
ul.top-menu li a {
	font-size:1em;
	margin: 0 0.3em;	
}
.header-info-left ul li:nth-child(1) {
	margin-right: 0.5em;
}
.header-info-left {
	margin-left: 1em;
	margin-top: 100px;
}
.header-info-right span {
	width: 288px;
	height: 285px;
	background-size: 93%;
}
.header {
	min-height: 444px;
}
.member-grid-left h2 {
	font-size: 2.5em;
}
.video {
	padding: 5em 0;
}
.news-letter-right{
	margin-top: 2em;
}
.contact-left-inner {
	margin-top: 9%;
}
.contact-right, .contact-left {
	min-height:450px;
}
.contact-right-inner {
	padding: 12% 0 0 10%;
}
.textarea-box textarea {
	min-height: 100px;
	resize: none;
}
span.line {
	top: 151px;
}
.news-letter-left-inner {
	width:100%;
}
.news-letter-left form input[type="text"], .news-letter-left form input[type="text"]:focus {
	width: 91%;
}
}
@media(max-width:768px){
	.header {
		min-height:426px;
	}
	.header-info-right span {
		width: 260px;
		height: 271px;
		background-size: 98%;
	}
	.header-info-left {
		margin-top:100px;
	}
	span.line {
		top: 210px;
	}
	a.play span {
		width: 79px;
		height: 80px;
		background: url(../images/play-icon.png) no-repeat -7px -7px;
		background-size: 113%;
	}
	.form-submition {
		padding-bottom:5em;
	}
	.people-info {
		width: 56%;
		margin-top: 0.5em;
	}
	.people-pic {
		width: 40%;
	}
	.people {
		width: 35%;
	}
	span.line {
		width: 65%;
	}
	.people-info h4 {
		font-size: 14px;
	}
	.header-info-right {
		width: 40%;
	}
	.app-look-grid-info {
		width: 81%;
	}
	.contact-left-inner {
		width: 61%;
	}
	.header-info-left ul li a {
		font-size: 0.875em;
	}
	.app-look {
		padding: 3em 0;
	}
	.app-look-head h1 {
		margin: 0 0 2em 0;
	}
	.top-nav ul.top-menu{
		display: none;
		position: absolute;
		width: 100%;
		left: 0px;
		background: #FFF;
		top: 104px;
		z-index: 3;
	}
	ul.top-menu li {
		display:block;
	}
	span.menu{
		display:block;
	}
	.share {
		position: absolute;
		right: 20px;
	}
	ul.top-menu li a {
		color: #000;
		padding: 0.7em 0;
		display: block;
		margin: 0;
		text-align: center;
	}
	.header{
		position:relative;
	}
	.contact-right-inner {
		width: 90%;
	}
}
@media(max-width:640px){
.header-info-left ul li a {
	font-size:0.85em;
	padding: 0.7em 1em;	
}
.header-info-right span {
	width: 237px;
	height: 248px;
	background-size: 98%;
}
.header {
	min-height: 403px;
}
.header-info-left {
	margin-top: 80px;
}
.header-info-left ul li:nth-child(1) {
	margin-right: 0;
}
.member-grid-left h2 {
	font-size: 2em;
}
.member-grid-right-grid span {
	width: 45px;
	height: 45px;
	background-size: 358%;
}
.member-grid-right-grid span.m-icon2 {
	background-position: -60px 0px;
}
.member-grid-right-grid span.m-icon3 {
	background-position: -118px 0px;
}
.member-grid-right-grid h4 {
	font-size: 1.4em;
}
.member-grid-right-grid p {
	font-size: 1em;
}
.app-look-head h1, .testmonial-head h3{
	font-size: 1.5em;
}
.testmonials {
	padding: 4em 0 6em;
}
span.line {
	top:240px;
}
.header-info-left ul li a {
	font-size: 12px;
	padding: 0.5em 0.7em;
}
}
@media(max-width:480px){
.header-info-left {
	margin-left: 0;
}	
.contact-left-inner {
	margin-right: 15%;
}
.header-info-right span {
	width: 173px;
	height: 182px;
	background-size: 99%;
}
.header {
	min-height: 337px;
}
.header-info-left {
	margin-top: 40px;
}
a.mouse {
	width: 13%;
}
.logo{
	margin-top:0;
}
.logo img{
	width:70%;
}
.header {
	min-height: 316px;
}
span.menu {
	top:19px;
}
.share {
	top:27px;
}
.logo {
	margin-top: -17px;
}
.top-header {
	padding: 1.8em 0 0em;
}
.header {
	min-height: 262px;
}
a.mouse span {
	width: 25px;
	height: 35px;
	margin-bottom:0;
	background-size: 142%;
}
a.mouse p{
	font-size:13px;
}
.member-grid-left h2 {
	font-size: 1.3em;
}
.member-grid-right-grid h4 {
	font-size: 1.2em;
}
.member-grid-right-grid p {
	font-size: 0.85em;
}
.members {
	padding: 3em 0;
}
.testmonial-head h3 {
	margin: 0;
}
.testmonial-grid p {
	font-size: 0.8125em;
}
.people-info {
	width: 100%;
}
.form-submition {
	padding-bottom: 2em;
}
.top-nav ul.top-menu {
	top: 60px;
}
}
@media(max-width:320px){
.header-info-left ul li {
	display: block;
	margin-bottom: 1em;
}
.header-info-left ul li a {
	font-size:10px;
	padding: 0.5em 0.5em;
}
.header-info-right span {
	width: 110px;
	height: 117px;
	background-size: 100%;
}
.header {
	min-height: 197px;
}
a.mouse {
	display: none;
}
.app-look-head h1, .testmonial-head h3 {
	font-size: 1em;
}
.member-grid-left h2 {
	font-size:0.85em;
}
.member-grid-right-grid span {
	width: 30px;
	height: 30px;
	background-size: 341%;
}
.member-grid-right-grid h4 {
	font-size: 0.8125em;
	margin: 0;
}
.member-grid-right-grid p {
	font-size: 10px;
}
.app-look-grid-info h3 {
	font-size: 0.8125em;
}
.member-grid-right-grid span.m-icon3{
	background-position: -74px 0;
}
.member-grid-right-grid span.m-icon2{
	background-position: -37px 0px;
}
.members {
	padding: 1em 0;
}
.testmonials {
	padding: 2em 0 4em;
}
span.line {
	top: 332px;
}
.people-pic {
	width: 90%;
}
.people-info {
	display:none;
}
.video {
	padding: 2em 0;
}
a.play span {
	width: 40px;
	height: 40px;
	background: url(../images/play-icon.png) no-repeat -2px -2px;
	background-size: 112%;
}
.news-letter {
	padding: 2em 0;
}
.box p {
	padding: 0.8em 0.9em;
}
.box h3 {
	font-size: 1.2em;
}
.contact-left-inner {
	float: left;
	margin-right: 0;
}
.contact-left-inner {
	width: 100%;
}
.contact-right, .contact-left {
	min-height: 390px;
}
.contact-right-inner h3 {
	font-size: 1.3em;
}
.text-box-left {
	float: none;
	width: 100%;
	margin-right: 0;
}
.contact-right-inner {
	width: 100%;
}
.text-box-right {
	float: none;
	width: 100%;
	margin-top: 1em;
}
}
@font-face {
    font-family: arista;
    src: url(arista.ttf);
}
.header_text{

	font-family: arista;
	color: blue;
	font-size: 10em;
	text-shadow: -2px 2px rgb(0, 0, 0);
	margin: 0;


}
.header_text_under{
	font-family: arista;
	color: red;
	font-size: 6em;
	text-shadow: -2px 2px rgb(0, 0, 0);
	margin: 0;

}

